/* Basic styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
}

.navbar{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}
.navbar a {
    float: right;
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
section {
    padding: 60px 0;
}

/* Home section */
#home {
    padding-left: 2%;
    background-image: url(../Assets/homebackground2.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-color: #f0f0f0;
    background-size: contain;
    border-bottom: #333 15px solid;
}

#home h1 {
    font-size: 3.5em;
    margin-bottom: 15px;
}

/* About section */
#about {
    background-color: #f0f0f0;
}

/* Services section */
#services {
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 50px;
    margin: 5px;
    width: 30%;
    background-color: #333;
    color: white;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



/* Contact section */
#contact {
    background-color: #c0c0c0;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}