/* Basic styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    background-color: #f0f0f0;
}

.navbar{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}
.navbar a {
    float: right;
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
section {
    padding: 60px 0;
}

/* Home section */
#home {
    padding-left: 2%;
    background-image: url(../Assets/homebackground2.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-color: #f0f0f0;
    background-size: contain;
    border-bottom: #333 15px solid;
}

#home h1 {
    font-size: 3.5em;
    margin-bottom: 15px;
}

/* About section */
#about {
    background-color: #f0f0f0;
    padding: 5%;
}

#services{
    padding: 2%;
}
/* Services section */
#services-cont {
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 50px;
    margin: 5px;
    width: 30%;
    background-color: #333;
    color: white;
    text-align: center;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



/* Contact section */
#contact {
    background-color: #f0f0f0;
}

form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
    max-width: 600px;
    margin: auto auto;
}
label {
    background-color: #333;
    color: #f0f0f0;
    display: block;
    margin-bottom: 5px;
    text-align: center;
    padding-top: 5px;
    border-radius: 5px;
}
input[type="text"], input[type="email"], input[type="tel"], textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    resize: auto;
}

textarea{
    height: 100px;
}

input[type="submit"] {
    background-color: #333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    grid-column: span 2;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

@media (max-width: 800px) {
    #home{
        background-image: none;
    }

    #services-cont{
        flex-direction: column;
    }

    .card{
        width: auto;
    }
    form {
        max-width: 600px;
        margin: 0 auto;
    }
}